{% extends 'main/base.html' %}

{% block content %}
<div class="cart_url"><a href="{% url 'cart' %}"><button>Cart</button></a></div>
<div class="main">
    <div class="main_currency">
        <h3>USD</h3>
        {% for item in items_usd %}
            <div class="item">
                <p><a href="{% url 'item' item.pk %}">{{ item.name }}</a></p>
                <p>{{ item.price }} {{ item.currency.upper }}</p>
                <form action="{% url 'cart_add' item.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Add to cart</button>
                </form>
            </div>
        {% endfor %}
    </div>
    <div class="main_currency">
        <h3>RUB</h3>
        {% for item in items_rub %}
            <div class="item">
                <p><a href="{% url 'item' item.pk %}">{{ item.name }}</a></p>
                <p>{{ item.price }} {{ item.currency.upper }}</p>
                <form action="{% url 'cart_add' item.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Add to cart</button>
                </form>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}